<h5>
  Create/Edit Student
</h5>

<div class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <input disabled [(ngModel)]="student.id" id="disabled" type="text">
      <label class="active" for="disabled">#</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="text" [(ngModel)]="student.name" class="validate" id="name">
      <label for="name" class="active">Name</label>
    </div>
  </div>
  <div class="row">
      <div class="input-field col s12">
        <input type="text" [(ngModel)]="student.email" class="validate" id="email">
        <label for="email" class="active">E-mail</label>
      </div>
    </div>
</div>