<h3>Examples pipes</h3>

<p>Title: {{ book.title | uppercase | camelCase }}</p>
<p>Rating: {{ book.rating | number:'1.1-2' }}</p>
<p>Pages: {{ book.pages | number }}</p>
<p>Price: {{ book.price | currency:'USD':'true' }}</p>
<p>Date release: {{ book.release | date }}</p>
<p>Url: {{ book.url }}</p>
<br>
<p>Book: {{ book | json }}</p>
<br> 

<input type="text" [(ngModel)]="filter">
<br>

<br>
<input type="text" #newValue>
<button (click)="addBook(newValue.value)">Add book</button>

<!-- Only test and examples (but don't use it) -->
<h3>pure pipe</h3>

 <ul>
  <li *ngFor="let bk of books | filterArray:filter">
    {{ bk }}
  </li>
</ul>

<h3>Impure pipe</h3>

<ul>
    <li *ngFor="let bk of books | impureFilterArray:filter">
      {{ bk }}
    </li>
  </ul>
<!-- end test -->
<h3>the use correctly pipes</h3>

  <ul>
      <li *ngFor="let bk of getBooks() | impureFilterArray:filter">
        {{ bk }}
      </li>
    </ul>
    <p>{{ asyncValuePr | async }}</p>
    <p>{{ asyncValueOb | async }}</p>