<!-- <app-directive-ngif></app-directive-ngif>  -->
<!-- <app-directive-ngswitch></app-directive-ngswitch> -->
<!-- <app-directive-ngfor></app-directive-ngfor> -->

<!-- <app-directive-ngclass></app-directive-ngclass> -->
<!-- <app-directive-ngstyle></app-directive-ngstyle> -->
<!-- <app-operator-elvis></app-operator-elvis> -->
<!-- <app-example-ngcontent>
    <div class="title">Panel title</div>
    <div class="body">
       Content sent to component
    </div>
</app-example-ngcontent> -->
<app-custom-directives></app-custom-directives>